/* You can add global styles to this file, and also import other style files */
@use "./variables.scss" as *;
@use "./reset.scss" as *;

body {
  font-family: "Outfit", sans-serif;
  font-weight: var(--regular);
  background-color: var(--PattensBlue);
  font-size: 15px;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}
.qr-container {
  display: grid;
  justify-items: center;
  align-items: center;
}
.qr-box {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: var(--white);
  border-radius: 0.7rem;
  height: 60vh;
  width: 90vw;
  padding: 1rem;
  row-gap: 1rem;
  max-width: 320px;
  box-sizing: border-box;
  &__content {
    text-align: center;
    padding: 1rem;
  }
  &__title {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    font-weight: bold !important;
  }
  &__description {
    color: var(--SlateGrey);
  }
  figure {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 0;

    .qr-image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0.5rem 0;
}
.attribution a {
  color: var(--CatalinaBlue);
}