:root {
  //colors---------------
  --PattensBlue: #d5e1ef;
  --white: #ffffff;
  --SlateGrey: #68778d;
  --CatalinaBlue: #1f3251;

  //breakpoints------------
  --mobileSize: 375px;
  --desktopSize: 1440px;

  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;

  --bold: 700;
}